.Centred-button button{
    background-color: #cea135;
    color: #11122b;
    border-radius: 3px;
    border-color:1px solid #cea135;
    font-size: 1.25em;
    padding: 15px 35px;
    outline: none;
    transition: 0.3s;
}
.Centred-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Centred-button button:active{
    box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
}