body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    overflow-x: hidden;
    background-color: #e8f4f7;
}
.nav-wrapper{
    background-color: #11122b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#cbcbcb;
    padding: 60px 100px;
    width: 100%;

}
.hamburger-menu{
    display: none;
    cursor: pointer;
}
.nav-bar > .nav-item a{
    color:#cea135;
    text-decoration: none;
    font-size: 1.15em;
}
.nav-wrapper > .logo img{
    width:250px;
}
@media(max-width:700px){
    .nav-wrapper{
        justify-content: center;
        width: 100%;
    }
    .nav-item{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .nav-wrapper > .logo{
        padding-left: 50px;
    }
    .hamburger-menu i{
        font-size: 2.5em;
    }
    .hamburger-menu i:active .nav-bar{
        display: block;
        flex-direction: column;
    }
    .nav-wrapper > .logo img{
        width: 125px;
    }
    html {
        overflow-x: hidden; }
}